// 404 View Styles

@import "../../scss/variables";
@import "../../scss/site-wide";

.app-error-page {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  &-inner-wrap {
    margin: 0;
    padding: 0;
    h1 {
      margin-top: 100px;
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}
