// Status Bar Styles

@import "../../scss/variables";

.app-status-bar {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 70;
  @media(min-width: 530px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
    grid-auto-rows: minmax(0, auto);
  }
  @media(min-width: 1060px) {
    grid-template-columns: repeat(4, 1fr);
  }
  &-block {
    padding: 5px;
    background-color: $lightgrey;
    border-bottom: 1px solid $black;
    svg {
      color: $black;
      margin-right: 10px;
    }
  }
  &-block-span {
    color: $black;
    font-size: 0.9rem;
    font-weight: 500;
    @media(min-width: 650px) {
      font-size: 1rem;
    }
  }
}
