// App Header Styles

@import "../../scss/site-wide";
@import "../../scss/variables";

.app-header-text-styles {
  display: block;
  text-align: center;
  padding: 10px 5px;
  text-decoration: none;
  color: $white;
}
.app-header {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: $darkgrey;
  z-index: 80;
  &-title {
    @extend .vertically_align_elements;
    display: block;
    position: relative;
    margin: 0;
    padding: 0 10px;
    color: $white;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    z-index: 88;
  }
  &-toggle-button, button {
    @extend .vertically_align_elements;
    position: absolute;
    right: 0;
    border: none;
    margin: 0 10px 0 0;
    padding: 7px 9px;
    border-radius: 5px;
    z-index: 90;
  }
  &-nav {
    display: none;
    background-color: $darkgrey;
    z-index: 89;
  }
  &-nav-ul {
    margin: 0;
    padding: 50px 0 30px 0;
    list-style-type: none;
  }
  &-nav-ul-li {
    @extend .app-header-text-styles;
    a {
      @extend .app-header-text-styles;
    }
  }
}

.sub-header {
  z-index: 49;
}
