// Site Wide Styles

@import "./variables";

.body {
  margin: 0;
  padding: 0;
}

.vertically_align_elements {
  top: 50%;
  transform: translateY(-50%);
}

.mobile-item {
  display: block;
  @media(min-width: 768px) {
    display: none !important;
  }
}

.desktop-item {
  display: none;
  @media(min-width: 768px) {
    display: block;
  }
}

.display-element {
  display: block !important;
}
.hide-display-element {
  display: none !important;
}

// -------------------------------------
.app {
  &-page-title {
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 1rem;
    font-weight: 500;
    background-color: $black;
    color: $white;
  }
  &-current-color-filter {
    background-color: $lightgrey;
  }
  &-current-color-filter-span {
    display: block;
    text-align: center;
    padding: 5px;
  }
}
