// App Color Variables

$white: #ffffff;
$black: #000000;
$lightgrey: #cccccc;
$grey: #999999;
$darkgrey: #262626;
$yellow: #fff000;
$red: #ff0000;
$lightpink: #ffcece;
$light_green: #c9f7c9;
$green: #14b700;
$blue: #0000ff;
